apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${ca_crt}
    server: https://apiserver.kubernetes.local:6443
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    user: system:kube-scheduler
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: ${kube_scheduler_crt}
    client-key-data: ${kube_scheduler_key}