apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${ca_crt}
    server: https://server.kubernetes.local:6443
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    user: system:kube-proxy
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-proxy
  user:
    client-certificate-data: ${kube_proxy_crt}
    client-key-data: ${kube_proxy_key}