#cloud-config
fqdn: ${fqdn}

packages:
%{ for pkg in jsondecode(packages) ~}
- ${pkg}
%{ endfor ~}

users:
- name: zero
  gecos: zero
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock_passwd: true
  ssh_authorized_keys:
    - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCDLbwGSWj/Y0b9uoVqJzr0BNqAAMgcapiEO6CSSmCnaCWzjEbGxHmvnghsKHqo291H08UKlMSqRocVD3kj/vlqquregAaYTZeNg2ZY1kqDw49X8cVNjukggtH23BbRmXgSXuBaHQaN2XtL2pOnZTRhnedSyVCVVazzrGOuGELCxUd+HnADUIaIf1hD/WiKxNxMT4YqWmkmdxgyC0Fp4eeU/W+eCzmsZeGgxW9DG77e9te76p3wi5Hj/8oj/U8nwY78UhkP+mAuw+c4YjoADVskz3yCK2yRQPPOiF3s1lS1kM5qv/GLUsgGCpqgUJo16rziOBccn0AX+oGvzrGoiJd1'

write_files:
- path: /etc/systemd/resolved.conf
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${resolved_config}

- path: /etc/haproxy/haproxy.cfg
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${haproxy_config}

- path: /custom-cloud-init-done
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: "MQo="

runcmd:
### system requirements
- 'systemctl restart systemd-resolved'
###
