#cloud-config
fqdn: ${fqdn}
users:
- name: zero
  gecos: zero
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  lock_passwd: true
  ssh_authorized_keys:
    - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCDLbwGSWj/Y0b9uoVqJzr0BNqAAMgcapiEO6CSSmCnaCWzjEbGxHmvnghsKHqo291H08UKlMSqRocVD3kj/vlqquregAaYTZeNg2ZY1kqDw49X8cVNjukggtH23BbRmXgSXuBaHQaN2XtL2pOnZTRhnedSyVCVVazzrGOuGELCxUd+HnADUIaIf1hD/WiKxNxMT4YqWmkmdxgyC0Fp4eeU/W+eCzmsZeGgxW9DG77e9te76p3wi5Hj/8oj/U8nwY78UhkP+mAuw+c4YjoADVskz3yCK2yRQPPOiF3s1lS1kM5qv/GLUsgGCpqgUJo16rziOBccn0AX+oGvzrGoiJd1'
- name: etcd
  gecos: etcd
  shell: /usr/sbin/nologin
  lock_passwd: true
- name: kubernetes
  gecos: kubernetes
  shell: /usr/sbin/nologin
  lock_passwd: true

write_files:

- path: /var/lib/etcd/.touch
  owner: etcd:etcd
  permissions: '0644'
  defer: true
  encoding: b64
  content: ""

# Kubernetes Configuration Files
%{ for conf in jsondecode(kube_config) ~}
- path: /etc/kubernetes/${conf.name}
  owner: kubernetes:kubernetes
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${conf.content}
%{ endfor ~}

# Kubernetes Certificates
%{ for cert in jsondecode(kube_certs) ~}
- path: /etc/kubernetes/ssl/${cert.name}
  owner: kubernetes:kubernetes
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${cert.content}
%{ endfor ~}

# ETCD Certificates
%{ for cert in jsondecode(etcd_certs) ~}
- path: /etc/etcd/ssl/${cert.name}
  owner: etcd:etcd
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${cert.content}
%{ endfor ~}

# System Units
%{ for unit in jsondecode(systemd_units) ~}
- path: /etc/systemd/system/${unit.name}.service
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${unit.content}
%{ endfor ~}

- path: /etc/systemd/resolved.conf
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${dns_config}

- path: /etc/systemd/system/etcd.service
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: ${etcd_systemd_unit}

- path: /custom-cloud-init-done
  owner: root:root
  permissions: '0644'
  defer: true
  encoding: b64
  content: "MQo="

runcmd:
### binaries preparation
- [curl, -L, -o, /usr/local/bin/kube-controller-manager, https://dl.k8s.io/${kube_version}/bin/linux/${arch}/kube-controller-manager]
- [curl, -L, -o, /usr/local/bin/kube-scheduler, https://dl.k8s.io/${kube_version}/bin/linux/${arch}/kube-scheduler]
- [curl, -L, -o, /usr/local/bin/kube-apiserver, https://dl.k8s.io/${kube_version}/bin/linux/${arch}/kube-apiserver]
- [curl, -L, -o, /usr/local/bin/kubectl, https://dl.k8s.io/${kube_version}/bin/linux/${arch}/kubectl]
- [curl, -L, -o, /tmp/${etcd_full_version}.tar.gz, https://github.com/etcd-io/etcd/releases/download/${etcd_version}/${etcd_full_version}.tar.gz]
- [tar, -xvf, /tmp/${etcd_full_version}.tar.gz, -C, /tmp]
- [mv, /tmp/${etcd_full_version}/etcd, /usr/local/bin/]
- [mv, /tmp/${etcd_full_version}/etcdctl, /usr/local/bin/]
- [mv, /tmp/${etcd_full_version}/etcdutl, /usr/local/bin/]
- [chmod, '+x', '/usr/local/bin/*']
### end binaries preparation
- [systemctl, restart, systemd-resolved]
- [systemctl, enable, etcd.service]
- [systemctl, start, etcd.service]